<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Part Control</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="grid.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="vue.js"></script> 

</head>
<body id = "body">
   
                <button id='loadScreen'>Loading</button>
                <div id='navBar'>
                        <div class='navBarItem' v-on:click="home()" v-on:dblclick="homeDblClick()">
                                <div><img src='icons\home.png' alt='Home'></div>
                                <div>Home</div>
                        </div>
                        <div class='navBarItem' v-on:click="scopes()">
                                <div><img src='icons\scopes.png' alt='Scopes'></div>
                                <div>Scopes</div>
                        </div>
                        <div class='navBarItem' v-on:click="settings()">
                                <div><img src='icons\settings.png' alt='Settings'></div>
                                <div></div>
                        </div>
                </div>
                   
                <div id="bomModule">
                   
                        <div id="bomTitleBar">
                                <button v-on:click="onBack()" :disabled="activeBomIdHistory.length<2"><<</button>
                                <button v-on:dblclick='onRowClick(bom)'>{{bom.partNumber+' '+bom.description}}</button>
                                <div class='navBarItem' v-on:click='onRefresh()'><img src='icons\refresh.png' alt='Refresh'></div>
                                <button v-on:click="onClose()">X</button>
                        </div>

                 
                    
                        <div id = "bomTable">
                                <div class="tableHeader bomTableRow" >
                                        <input readonly type="text" value=""> <!--CHANGED -->
                                        <input readonly id="bomTableItemHeader" type="text" value="Item">
                                        <input readonly type="text" value="Part Number">
                                        <input readonly type="text" value="Rev">
                                        <input readonly type="text" value="Description">
                                        <input readonly type="text" value="Scope">
                                        <input readonly type="text" value="Qty">
                                        <input readonly type="text" value="Core">
                                        <input readonly type="text" value="RL">
                                        <input readonly type="text" value="PK">
                                        <input readonly type="text" value=""> <!--DELETE -->
                                       
                                </div>
                               
                                <div class="bomTableRow" v-for="bomRow in bom.bom" v-on:dblclick="onRowClick(bomRow.part)">
                                        <input v-bind:id='"changed"+bomRow.id'          v-on:click='changedOnClick(bomRow)'     v-bind:value=' isChanged(bomRow) ? "!":":" '  v-bind:class='isChanged(bomRow) ? "flag" : "" ' readonly :disabled='!isChanged(bomRow)'>
                                        <input v-bind:id='"item"+bomRow.id'             v-model='bomRow.item'                   v-on:change="onChange(bomRow,'item')">
                                        <input                                          v-model='bomRow.part.partNumber'        readonly>
                                        <input v-bind:id='"coreRev"+bomRow.id'          v-model='bomRow.coreRev'                v-on:change="onChange(bomRow,'coreRev')">
                                        <input                                          v-model='bomRow.part.description'       readonly>
                                        <input v-bind:id='"scope"+bomRow.part.scheme'   v-model='bomRow.part.scheme'              readonly>
                                        <input v-bind:id='"qty"+bomRow.id'              v-model='bomRow.qty'                    v-on:change="onChange(bomRow,'qty')">
                                        <input v-bind:id='"coreIncluded"+bomRow.id'  v-bind:data-checked="bomRow.coreIncluded"    v-bind:value=' bomRow.coreIncluded ? "✓":""'      v-on:click="checkBoxOnChange(bomRow,'coreIncluded')" :disabled="!bomRow.part.file.core.exists"       class='checkBox' readonly>
                                        <input v-bind:id='"rlIncluded"+bomRow.id'    v-bind:data-checked="bomRow.rlIncluded"       v-bind:value=' bomRow.rlIncluded ? "✓":""'      v-on:click="checkBoxOnChange(bomRow,'rlIncluded')"    :disabled="!bomRow.part.file.redline.exists"    class='checkBox' readonly>
                                        <input v-bind:id='"packIncluded"+bomRow.id'  v-bind:data-checked="bomRow.packIncluded"     v-bind:value=' bomRow.packIncluded ? "✓":""'    v-on:click="checkBoxOnChange(bomRow,'packIncluded')"  :disabled="!bomRow.part.file.pack.exists"       class='checkBox' readonly>
                                        <button class='rowButton' v-on:click='onDelete(bomRow)' >X</button>
                                </div>
                        </div>

                </div>                        
           
                <div id='partTable'>
                                        <div class='titleBar'>
                                                <div></div>
                                                <div>:</div>
                                        </div>
                
                                        <div id='partTableHeader'>

                                                <div id='partTableHeading' class='partTableRow'>
                                                        <p>Part Number</p>
                                                        <p>Description</p>
                                                        <p>Scope</p>
                                                        <p>Type</p>
                                                        <p>Status</p>
                                                
                                                </div>

                                                <div class='partTableRow'>

                                                        <input type='text' value='' id='partNumberSearch'   v-model='partSearch.partNumber'>
                                                        <input type='text' value='' id='descriptionSearch'  v-model='partSearch.description'>
                                                
                                                        <select id='schemeSearch'   v-model='partSearch.scheme'>
                                                                <option value=""></option>
                                                                <option v-for="scope in scopes">
                                                                        {{scope.scope}}
                                                                </option>
                                                        </select>

                                                        <select id='typeSearch'     v-model='partSearch.type'>
                                                                <option value=""></option>
                                                                <option value="ASSY">Assembly</option>
                                                                <option value="SUB">Sub-Assembly</option>
                                                                <option value="COMM">Commercial</option>
                                                                <option value="FAB">Fabricate</option>
                                                                <option value="DOC">Reference Document</option>
                                                        </select>
                                                        <select id='statusSearch'     v-model='partSearch.status'>
                                                                <option value=""></option>
                                                                <option value="Inactive">Inactive</option>
                                                                <option value="In Process">In Process</option>
                                                                <option value="Released">Released</option>       
                                                        </select>

                                                        <button v-on:click="onSearch">Search</button>
                                                
                                                </div>

                                        </div>

                                        <div class='tableBody'>

                                                <div class='partTableRow' v-on:dblclick="onRowClick(part)" v-for="part in partList.list" >
                                                        <div>{{part.partNumber}}</div>
                                                        <div>{{part.description}}</div>
                                                        <div>{{part.scheme}}</div>
                                                        <div>{{part.type}}</div>
                                                        <div>{{part.status}}</div>
                                                        <div class='changed'>{{part.changed ? 'CHANGED':''}}</div>
                                                        <button class='rowButton' v-on:click="onAddToBom(part)" v-if="panes.bom">+</button>
                                                </div>

                                        </div>

                                        <div id='partTableFooter'>
                                                <button  v-on:click="partMasterOnClick()">Part Master</button>
                                        </div>

                </div>

                <div id='partSlideOutBar'>

                        <div id='slideOutHeader' class='titleBar'>
                                <div></div>
                                <button v-on:click="onClose()" class='button'>X</button>
                        </div>

                        <div id="partMasterForm">
                          
                                <div class="partMasterInputLabel">Scope</div>
                                <select  v-model="part.scheme" :disabled="part.id!=='000'">
                                        <option value=""></option>
                                        <option v-for="scheme in schemes.schemes">{{scheme.scope}}</option>
                                </select>
                              
                          
                                <div class="partMasterInputLabel">Part Number</div>
                                <input v-model="part.partNumber" v-on:blur='onPartNumberChange();onAnyChange()' type='text' :disabled="part.scheme==''">
                        
                               
                                <div class="partMasterInputLabel">Rev</div>
                                <input v-model="part.coreRev" type='text' :disabled="part.scheme==''  " v-on:change='onAnyChange()'>
                
                      
                                <div class="partMasterInputLabel">Description</div>
                                <input v-model="part.description" type='text' :disabled="part.scheme==''" v-on:change='onAnyChange()'>
                                
                        
                                <div class="partMasterInputLabel">Type</div>
                                <select v-model="part.type" :disabled="part.scheme==''"  v-on:change='onAnyChange()'>
                                        <option value=""></option>
                                        <option value="ASSY">Assembly</option>
                                        <option value="SUB">Sub-Assembly</option>
                                        <option value="COMM">Commercial</option>
                                        <option value="FAB">Fabricate</option>
                                        <option value="DOC">Reference Document</option>
                                </select>
                           
                               
                                <div class="partMasterInputLabel" >Status</div>
                                <select v-model="part.status" :disabled="part.scheme==''"  v-on:change='onAnyChange()'>
                                        <option value=""></option>
                                        <option value="Inactive">Inactive</option>
                                        <option value="In Process">In Process</option>
                                        <option value="Released">Released</option>
                                </select>
                     
                        
                                <div class="partMasterInputLabel">Owner</div>
                                <input v-model="part.owner" type='text' :disabled="part.scheme==''" v-on:change='onAnyChange()'>
                            
                                <!-- Save / Auto Number / New Buttons-->               
                                <div class='slideOutFormButtons'>
                                        <button v-on:click='saveOnClick()'        :disabled=" part.scheme=='' || part.partNumber=='' || saveButtonEnabled==false ">Save</button>
                                        <button v-on:click='autoNumberOnClick()'  :disabled=" part.partNumber!=='' || part.scheme!=='FMH' ">Auto #</button>
                                        <button v-on:click='newOnClick()'>New</button>
                                        <button v-on:click='deleteOnClick()'>Delete</button>
                                        <img class='noteIcon' src='icons\notes.png' v-on:click='notesOnClick()' alt='Notes'> 
                                     
                                </div>
                                
                        </div>

                        <div id='slideOutDropZone'>
                                <div>Attach</div>
                                <select id='dropDrawingType'>
                                        <option value="core">Core</option>
                                        <option value="redline">Redline</option>
                                </select>
                                <div id='dropZone'>
                                        <div></div>
                                        <div>DROP HERE</div>
                                        <div></div>
                                </div>
                                <div id='footer'></div>
                        </div>

                        <div id='slideOutCertifications'>
                                <div id='slideOutCertificationsTitle'>Certifications</div>
                                <div id="certificationsHeader" class='certRow'>
                                        <select id='certificationSelect'   v-model='selectedCert'>
                                                <option value=""></option>
                                                <option v-for="cert in certs.certifications" :value="cert.id" >
                                                        {{cert.name}}
                                                </option>
                                        </select>
                                        <button class='rowButton' v-on:click='addCert()'>+</button>
                                </div>
                                <div id="certificationsBody">
                                        <div class='certRow' v-for="cert in part.certs">
                                                {{cert.certification}}
                                                <button class='rowButton' v-on:click='deleteCert(cert.id)'>X</button>
                                        </div>
                                </div>
                                
                        </div>

                
                        <div id ='packAndBomButtons'>
                                <button v-on:click='openBom()' :disabled="(part.type =='ASSY'||part.type =='SUB')==false" class="floatButton">BOM</button>
                                <button id='buildPackButton' v-on:click='buildPack()' :disabled="(vmBom.bom.partNumber==part.partNumber && panes.bom)==false" class="floatButton" >Build Package</button>
                                <div id='buildPackProgressBar'></div>
                        </div>
                        
        
                        <div id='slideOutOpenDrawing'>
                                <button v-on:click='openCore()'      :disabled='!part.file.core.exists'>Core</button>
                                <button v-on:click='openPack()'      :disabled='!part.file.pack.exists'>Pack</button>
                                <button v-on:click='openRedline()'   :disabled='!part.file.redline.exists'>Redline</button>
                                <button v-on:click='openFolder()'    :disabled='!part.file.folder.exists'>Folder</button>
                        </div>
                        

                </div>

                <div id='scopePane' class='pane'>
                        <div class='titleBar'>
                                <div></div>
                                <div>:</div>
                        </div>
                        <div id='scopeTableHeader'>
                                
                                <div class='scopeTableRow' id='scopeTableHeading'>
                                        <div>File As</div>
                                        <div>Display As</div>
                                </div>
                                <div class='scopeTableRow'>
                                        <input type='text' id='scopeFileAsInput'>
                                        <input type='text' id='scopeDisplayAsInput'>
                                        <button class='rowButton' v-on:click='addScope()'>+</button>
                                </div>
                        </div>
                        <div id="scopeTableBody">
                             <div class='scopeTableRow' v-for="scheme in scheme.schemes">
                                        <div>{{scheme.scope}}</div>
                                        <div>{{scheme.scope}}</div>
                                        <button class="rowButton" v-on:click="deleteScope(scheme.id)">X</button>
                                        
                             </div>   
                        </div>
                </div>

                <div id='settingsPane' class='pane'>
                      
                        <div id='settingsForm'>
                            
                                <div class="partMasterInputLabel">Server</div>
                                <input v-model='database.server' type='text'>
                        
                                <div class="partMasterInputLabel">Server Password</div>
                                <input v-model='database.password' type='password'>
                        
                                <div class="partMasterInputLabel">Auto Number</div>
                                <input v-model='config.autoNumber'  type='text'>
                        
                                <div class="partMasterInputLabel">Root Folder</div>
                                <input v-model='config.rootDir'  type='text'>
                        
                                <div class="partMasterInputLabel">ACE Template Folder</div>
                                <input v-model='config.aceTemplateFolder' type='text'>
                        
                                <button v-on:click="onBlur">Save</button>
                                

                                
                    
                        </div>
                        <div id='lists'>
                                <div>Lists</div>
                                <select v-on:change='onListSelect' v-model="selectedList">
                                        <option value="Scopes">Scopes</option>
                                        <option value="Certifications">Certifications</option>
                                        <option value="Types">Types</option>
                                        <option value="Status">Status</option>
                                </select>
                                <div id="listTable">
                                        <div class="listTableRow" v-for="i in list">
                                                <input type='text' id='listValue' v-bind:value='i.name'>
                                                <button class='rowButton' v-on:click="i.delete()">X</button>
                                        </div>
                                </div>
                        </div>
                    
                </div>

                <div id='promptBox'>
                        <div id='prompBoxTitleBar'>Notes</div>
                        <button v-on:click='close()' id='prompBoxClose'>X</button>
                        <textarea v-model="part.notes" id='prompBoxBody'></textarea>
                </div>
           
<script src="script.js"></script> 
</body>
</html>