body{
    position: absolute;
    top:0; 
	right: 0; 
	bottom: 0; 
    left: 0;
    background:rgba(0,0,0,0.8);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .85rem;
}

/* All Elements */
* {
    margin:0;
    padding:0;
    min-width: 0;
    min-height: 0;
    text-align: center;

}
*:focus{
    outline: none;
}

/*Nav Bar*/
#navBar{
    user-select: none;
    border-right-style: solid;
    border-color: #cecece;
    border-width: .05rem;
    padding: .15rem;
}
.navBarItem{
    background: white;
    padding: .15 rem;
    border-style: solid;
    border-width: .05rem;
    border-radius: .25rem;
}
.navBarItem:hover{
    background: #2f45ed;
}

/*Bom Module*/
#bomTable{
    color: #e0e0e0;
    overflow-y: scroll;
    background-color: white;
}
.bomTableRow{
    padding: .1rem;
    justify-items: center;
    align-items: start;
    border-style: solid;
    border-width: .01rem;
    display: contents;    
}



#bomTitleBar{
    background: #555;
    padding:.15rem;
}

/*Part Table*/
#partTableHeader{
    overflow-y: scroll;
}

.partTableRow{
    user-select: none;
    color: #e0e0e0;
    padding: .05rem;
}
.partTableRow:not(#partTableHeading):hover{
    font-size: .9rem;
    color:white;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

img{
    height: 100%;
    width: 100%;
}



/* Part Slide Out Bar */
#partSlideOutBar{
    background:white;
    overflow-y: hidden;
    border-left-style: solid;
    border-color: #cecece;
    border-width: .05rem;
}

#certificationsBody,#certificationsHeader{
    overflow-y: scroll;
}

#packAndBomButtons{
    padding: .5rem;
}
.certRow{
    padding: 0.15rem;
}
#partMasterForm{
    padding: .5rem;
}

#partMasterForm > input{
    text-align: left;
}
.partMasterInputLabel{
    border-style: none;
    text-align: left;
    color: #516f90;
    font-size: .65rem;
    user-select: none;
    height: min-content;
}



#slideOutDropZone{
    padding: .5rem;
}
#slideOutOpenDrawing{
    background: #555;
}
#dropZone{
    background: #506e91; 
}
#buildPackProgressBar{
    background-color: #17c11a;
    width: 0%;
    height: 100%;
    z-index: 5;
    display: none;

}
.buildPackContainer{
    padding: .5rem;  
}

.titleBar{
    background: #555;
    padding:.15rem;
}
.titleBarButton{
    background: white;
    padding: .15 rem;
    border-style: solid;
    border-width: .05rem;
    border-radius: .25rem;
    color: black;
    font-family: Lucida Console;
}
.titleBarButton:hover{
    background: #2f45ed;
    color: black;
}

.flag{
    color:red;
    font-weight: bold;
    font-family:  "Helvetica";
    background-color: yellow;
}
.tableBody{
    overflow-y: scroll;
}


.scopeTableRow{
    overflow-y: scroll;
    user-select: none;
    color: #e0e0e0;
    padding: .05rem;
}

#scopeTableHeader{
    overflow-y: scroll;
}
#scopeTableBody{
    overflow-y: scroll;
}
.scopeTableRow:not(#scopeTableHeading):hover{
    font-size: .9rem;
    color:white;
}

#settingsPane{
    background:white;
    overflow-y: hidden;
    border-left-style: solid;
    border-color: #cecece;
    border-width: .05rem;
}
#loadScreen{
    z-index: 2;
    background: #555; 
    color: white;
}
#promptBox{
    display: none;
    z-index: 2;
    color: white;
    margin: 10%;
}

#prompBoxTitleBar{
    background: rgba(0,0,0,0.8);
}
#prompBoxBody{
    background-color: white;
    color:black;
    overflow-y: scroll;
    text-align:  left;
}


.noteIcon{
    background: #888;
}
.noteIcon:hover{
    background: #2f45ed;
}
.floatButton{
    border-radius: .25rem;
}


input:read-only,textarea:read-only{
    user-select: none;
    cursor: default;
}
input[type=checkbox]{
    height: 100%;
    width: 100%;
}

p{
    overflow-x: hidden;
}
textarea{
    resize: horizontal;
}


button,select{
    width: 100%;
    height:100%;
}
input{
    width: 100%;
}
.checkBox{
    cursor: default;
}
.checkBox[data-checked]{
    background-color: green;
}

   
.tableHeader>input{
    background-color: buttonface;
}

#bomTable{
    overflow-x: hidden;
}
#lists,#settingsForm{
    padding: 1rem;
}
#listTable{
    overflow-y: scroll;
    overflow-x: hidden;
}
.changed{
    color: red;
    font-weight: bold;
}
